/* Incubator Stylesheet */
body {
    background-color: black;
    font-family: sans-serif;
}
main {
    width: 90%;
    background-color: floralwhite;
    margin: 0 auto;
}
header {
    height: 8em;
    padding: 1em 3em;
}
section {
    color: floralwhite;
    min-height: 10em;
    background-color: #900000;
    padding: 2em 3em;
}
footer {
    color: darkred;
    min-height: 6em;
    padding: 1em 3em;
    background-color: bisque;
}
aside {
    width: 40%;
    padding-left: 20px;
    margin-left: 20px;
    float: right;
    font-style: italic;
    background-color: brown;
}
h3 {
    color: khaki;
    font-family: PMingLiU-ExtB, serif;
    font-style: italic;
}
h1 {
    color: brown;
    font-style: italic;
    font-family: PMingLiU-ExtB, serif;
}